<html>

<head>
<!-- #bbinclude "head.inc" 
#TOPIC_NAME#="TOPIC_NAME"
-->
<!-- end bbinclude -->	
</head>

<body>
<!-- #bbinclude "topnav.inc" -->
<!-- end bbinclude -->	
	<div class="clear">&nbsp;</div>
	
	<div id="content">
		<p class="topicHeading">TOPIC_NAME</p>
		<p>
		This is the topic intro. It provides context for the topic task, or described why/when the task is appropriate. For example: &quot;If you want to play your music in a portable stereo, you can create an audio CD using the songs that are in your music library.&quot;
		</p>
		<p>
		If the topic task has requirements, they are also described here. For example: &quot;To create an audio CD, you must have a supported CD-R drive.&quot;
		</p>
		<p class="taskHeading">
		Task heading (omit if same as topic name)
		</p>
		<p>
			<table border="0" cellpadding="5" cellspacing="0" width="100%">
			<tr class="taskBox">
			<td class="taskFrame">
			<p>How to accomplish the task is covered in this yellow action box. These are the steps the user takes to do the work. Information that is not a user action, such as introductory or background material, is not in the yellow box.</p>
			</td>
			</tr>
			</table>
		</p>
		<p>
		This is the topic &quot;outro&quot;. It bookends the topic intro. Here, provide wrap-up information, if necessary. This is a good place to include tips and reference info. The info here is less critical to the task as compared to the info covered in the intro and the yellow action box.
		</p>
		
		<div style="height:5em">&nbsp;</div>

	</div>
<!-- #bbinclude "leftnav.inc.php" 
#NODE#="NODE"
#SUBNODE#="SUBNODE"
#SUBSUBNODE#="SUBSUBNODE"
-->
<!-- end bbinclude -->	
		
</body>

</html>

